<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="" id="testing">
        <h3>To Do List</h3>
        <input type="text" placeholder="Enter item name" v-model="itemData.name">
        <small style="color: red;" v-if="validation.nameStatus">Item name is require</small>
        <br>
        
        <input type="text" placeholder="Enter item price" v-model="itemData.price">
        <small style="color: red; " v-if="validation.priceStatus">Price amount is require</small>
        <br>
        <button @click="create()">Add</button>

        <hr>
        <table class="table" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items">
                    <td scope="row">{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                </tr>
            </tbody>
        </table>
</div>
</body>


<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<script>
    let app =new Vue({
        el: '#testing',
        data: {
            itemData: {
                name: '',
                price: ''
            },

            items: [
            //     {
            //     id: '1',
            //     name: 'red clothes',
            //     price:'200000',
            // }
                 ],
            validation: {
                nameStatus :false,
                priceStatus : false,
            }
        },
        //function
        methods: {
            //array add 
            create() {
                //validate on off
                this.validationCheck();
                // if(this.itemData.name == ''){
                //     this.validation.nameStatus = true
                // }else {
                //     this.validation.nameStatus = false
                // }
                // this.validation.nameStatus = this.itemData.name == '' ? true : false;
                // if(this.itemData.price ==''){
                //     this.validation.priceStatus = true
                // }else{
                //     this.validation.priceStatus = false
                // }
                // this.validation.priceStatus =this.itemData.price == '' ? true :false;
                 
                if(!this.validation.nameStatus && !this.validation.priceStatus){
                     // alert("create")
                this.items.push({
                    id: this.items.length+1,
                    name: this.itemData.name,
                    price: this.itemData.price,
                })
                this.clear();
                }

                
            },
            validationCheck(){
                this.validation.nameStatus = this.itemData.name == '' ? true : false;
                this.validation.priceStatus =this.itemData.price == '' ? true :false;

            },
            clear(){
                //delete
                this.itemData.name = '';
                this.itemData.price ='';
            }
        }
    })
</script>
</html>